body {
    margin-left: 20px;
    margin-top: 20px;
}


nav {
    position: fixed;
    bottom: 0;
    left: -120px;
    width: 110px; /* Set a width for the vertical navigation */
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999;
    transition: left 0.6s; /* Smooth transition when changing width */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: block; /* Change to block to make items vertical */
    margin-bottom: 10px; /* Adjust the spacing between items */
}

nav ul li a.navigation {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #022d1d;
    border: 1px solid #000;
}

nav:hover{
    left: 0;
}

.heading{
    font: bold;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;  
} 

.arrow {
    font-size: 40px;
}

div{
    position: relative; 
    height: auto;
    word-wrap: normal;
}




