table, td, tr {
    font: oblique;
    font-size: large;
    text-align: center;
    display: block; 
    width: 200px; 
    margin: 0 auto;
    border: 2px solid #000;
    border-collapse: collapse;
}